*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #bfc7d8;
  --secondary-color: #ffde59;
  --terceary-color: #edb888;
  --others-color: #87929b;
  --gradient-primary-bottom: linear-gradient(to bottom, #10305810, #0a0011 100%);
  --gradient-primary-top: linear-gradient(to top, #10305810, #0a0011 100%);
  --error-color:#87929b;
  --background-radial-color: -webkit-radial-gradient(#10305810, #0a0011);
  --background-radial-color-secondary: -webkit-radial-gradient(#10305810, #0a001190);
  --background-radial-hover-color: -webkit-radial-gradient(#45581040, #0a001110);
  --input-border-color: #87929b40;
}

.container {
  background: var(--background-radial-color-secondary);
  position: absolute;
  width: 80%;
  height: 95%;
  top: 2.5%;
  z-index: -2;
  font-size: 0.8rem;
  letter-spacing: 0.5em;
  font-family: "Hammersmith One", sans-serif;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.title {
  background: var(--background-radial-color);
  display: flex;
  position: relative;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: center;
}
.title h2 {
  font-size: 2rem;
  letter-spacing: 0.3em;
  color: var(--terceary-color);
}

.data {
  display: flex;
  position: relative;
  z-index: 4;
  width: 100%;
  height: 83%;
}

.data ul {
  display: grid;
  position: relative;
  width:100%;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0 15%;
  padding: 0;
  align-items: center;
}

.data li {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.data h3 {
  color: var(--primary-color);
  font-size: 1.5rem;
}
.data span {
  color: var(--others-color);
  font-size: 1rem;
}
