@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #bfc7d8;
  --secondary-color: #ffde59;
  --terceary-color: #edb888;
  --others-color: #87929b;
  --gradient-primary-bottom: linear-gradient(to bottom, #10305810, #0a0011 100%);
  --gradient-primary-top: linear-gradient(to top, #10305810, #0a0011 100%);
  --error-color:#87929b;
  --background-radial-color: -webkit-radial-gradient(#10305810, #0a0011);
  --background-radial-color-secondary: -webkit-radial-gradient(#10305810, #0a001190);
  --background-radial-hover-color: -webkit-radial-gradient(#45581040, #0a001110);
  --input-border-color: #87929b40;
}

.selectAct {
position: relative;
  background-color: transparent;
  border: 2px solid var(--input-border-color);
  margin: 0 5%;
  width: 90%;
  height: 40%;
  top: 20%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  cursor: pointer;
  text-align: center;
  background: var(--gradient-primary-bottom);
  color: var(--others-color);
}



.selectAct:focus {
  outline: none;
}

.container {
  background: var(--background-radial-color);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.4em;
  font-weight: 700;
  font-style: normal;
  font-family: "Hammersmith One", sans-serif;
}
.izquierda {
  background: var(--background-radial-color);
  position: absolute;
  width: 20%;
  height: 100%;
  z-index: 2;
}
.derecha {
  background: var(--background-radial-color);
  position: absolute;
  width: 80.05%;
  height: 100%;
  left: 19.95%;
  z-index: 2;
}
.der_arriba {
  position: absolute;
  width: 100%;
  height: 15%;
  z-index: 3;
}

.der_arriba1 {
  background: var(--background-radial-color);
  display: flex;
  position: relative;
  width: 100%;
  height: 49.2%;
  z-index: 3;
  justify-content: space-between;
}

.arriba1_links {
  display: flex;
  position: relative;
  width: 100%;
  top: 30%;
  justify-content: space-around;
}

.navlinks {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  width: 15%;
  top: 20%;
}
.icon {
  font-size: 2em;
  color: #bdcbd6;
}

.sortby {
  display: flex;
  position: absolute;
  width: 100%;
  height: 49.2%;
  top: 50.6%;
  z-index: 3;
  justify-content: space-around;
}
.sortby h2 {
  position: relative;
  color: var(--terceary-color);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.2em;
  z-index: 4;
  top: 35%;
  margin-left: 5%;
  font-family: "Hammersmith One", sans-serif;
}
.sortby h3 {
  position: relative;
  color: var(--primary-color);
  font-size: 0.8rem;
  text-align: right;
  letter-spacing: 0.2em;
  z-index: 4;
  top: 20%;
  left: 5%;
  font-family: "Hammersmith One", sans-serif;
}

.sortby ul {
  display: flex;
  justify-content: space-between;
  top: 35%;
}
.sortby li {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 40px;
}
.sortby input {
  width: 20px;
  height: 20px;
}

.der_abajo {
  position: absolute;
  width: 100%;
  height: 15%;
  top: 85%;
  z-index: 3;
}

.countries_container {
  position: absolute;
  width: 100%;
  height: 69.6%;
  top: 15.2%;
}

.countries {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  z-index: 5;
}

.countries_article {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

.countryimg {
  position: fixed;
  height: 100%;
  left: -350px;
  z-index: 1;
  opacity: 0.9;
  transition: all 300ms ease-in-out;
}

.henry {
  position: absolute;
  background: var(--background-radial-color);
  width: 100%;
  height: 15%;
  z-index: 2;
}
.henry h1 {
  position: relative;
  color: var(--primary-color);
  font-size: 1.5rem;
  text-align: center;
  z-index: 4;
  top: 25%;
  font-family: "Hammersmith One", sans-serif;
}
.henry h2 {
  position: relative;
  color: var(--secondary-color);
  font-size: 1.1rem;
  text-align: center;
  z-index: 4;
  top: 20%;
  font-family: "Hammersmith One", sans-serif;
}

.searchbyname {
  position: absolute;
  background: var(--background-radial-color);
  width: 100%;
  height: 15%;
  top: 15.2%;
  z-index: 2;
}
.searchbyname h2 {
  position: relative;
  color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.2em;
  z-index: 4;
  top: 25%;
  font-family: "Hammersmith One", sans-serif;
}

.searchbyname input {
  position: relative;
  width: 85%;
  top: 35%;
  left: 5%;
}

.filterbycontinent {
  position: absolute;
  background: var(--background-radial-color);
  width: 100%;
  height: 45%;
  top: 30.4%;
  z-index: 2;
}

.filterbycontinent h2 {
  position: relative;
  color: var(--terceary-color);
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.2em;
  z-index: 4;
  top: 9%;
  font-family: "Hammersmith One", sans-serif;
}

.filterbycontinent h3 {
  position: relative;
  color: var(--others-color);
  font-size: 0.85rem;
  text-align: right;
  letter-spacing: 0.2em;
  z-index: 4;
  top: 9%;
  right: 35%;
  font-family: "Hammersmith One", sans-serif;
}

.filterbycontinent ul {
  position: relative;
  margin-top: 15%;
}
.filterbycontinent li {
  position: relative;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.filterbycontinent input {
  width: 20px;
  height: 20px;
}

.filterbyactivity {
  position: absolute;
  background: var(--background-radial-color);
  width: 100%;
  height: 24%;
  top: 75.6%;
  z-index: 2;
}

.filterbyactivity h2 {
  position: relative;
  color: var(--terceary-color);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.2em;
  z-index: 4;
  top: 9%;
  font-family: "Hammersmith One", sans-serif;
}

.filterbyactivity h3 {
  position: relative;
  color: var(--others-color);
  font-size: 1rem;
  text-align: right;
  letter-spacing: 0.2em;
  z-index: 4;
  top: 9%;
  right: 35%;
  font-family: "Hammersmith One", sans-serif;
}

.filterbyactivity ul {
  position: relative;
  margin-top: 10%;
}
.filterbyactivity li {
  position: relative;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.filterbyactivity input {
  width: 20px;
  height: 20px;
}
