@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #bfc7d8;
  --secondary-color: #ffde59;
  --terceary-color: #edb888;
  --others-color: #87929b;
  --gradient-primary-bottom: linear-gradient(to bottom, #10305810, #0a0011 100%);
  --gradient-primary-top: linear-gradient(to top, #10305810, #0a0011 100%);
  --error-color:#87929b;
  --background-radial-color: -webkit-radial-gradient(#10305810, #0a0011);
  --background-radial-color-secondary: -webkit-radial-gradient(#10305810, #0a001190);
  --background-radial-hover-color: -webkit-radial-gradient(#45581040, #0a001110);
  --input-border-color: #87929b40;
}

.container{
    position: absolute;
    background: #0a001190;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.nav{
  
    background: #0a001190;
    display: grid;
    position: absolute;
    width: 100%;
    height: 60px;
    grid-template-columns: 2fr 6fr 1fr;
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.4em;
    font-family: "Hammersmith One", sans-serif;

}
.henry{
    position: relative;
    width: 100%;
    height: 15%;
    z-index: 2;
    top: 5px;
}

.henry h1 {
    position: relative;
    color: var(--primary-color);
    font-size: 1.3rem;
    text-align: center;
  }

  .henry h2 {
    position: relative;
    color: var(--secondary-color);
    font-size: 1rem;
    text-align: center;
  }

.nav_links{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav_falinks{
    display: grid;
    position: relative;
    grid-template-columns: 2fr 2fr;
    align-items: center;
}

  .icon {
    font-size: 2em;
    color: var(--primary-color);
  }